<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>
<br>
<form th:method="post" th:action="@{/add-user}" th:object="${user}">
    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="lastName"> Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="age"> Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <input type="submit" value="Add"/>
</form>
<br>
<a href="/users">Back to user's list</a>
</body>
</html>