<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's list</title>
</head>

<body>
<br>
<div>
    <table th:border="1">
        <tr th:align=center>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}" th:align=center>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:align=center>
                <a th:href="@{/edit-user(id=${user.getId()})}">edit</a>
                <a th:href="@{/remove-user(id=${user.getId()})}">remove</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <h4>for add new user click -> <a th:href="@{/add-user}">add</a></h4>
    <h4>for clean table click -> <a th:href="@{/clean-table}">clean table</a></h4>
</div>
<br/>
</body>
</html>